@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins:wght@200;400;500&family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@200&display=swap');


body{
    padding: 0;
    margin: 0;
   
}

/* Top header section styles */
.conatiner{
    width: 900px;
    margin-left: 5.5%;

}
.header{
    border-radius: 10px;
   
    justify-content: center;
    height: 500px;
    background-color: #161616;
    margin-top: 20px;
   
   
   
}
.top-header{
   
   display: flex;
   align-items: center;
   margin-right: 40px;
}
.left-header{
    color: white;
    margin-right: 30px;
    margin-left: 50px;
}

.left-header .header-title{
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 20px;
}
.left-header .header-dis{
    text-align: justify;
   margin-bottom: 50px;
   
}
.left-header .header-button{
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
 .right-header img{
    height: 500px;
}
/* Matches section */
.matches{
    
    display: flex;
    margin-top: 20px;
}
.matches-menu{
    border-radius: 10px;
   align-items: center;
    width: 30%;
    height: 212px;
    background-color: #161616;
}
.all-menu a {
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 17px 30px;
    background-color: white;
    text-align: center;
    color: black;
    padding: 15px 20px;

}
.all-menu .select-menu{
    background-color: red;
    color: white;
}
.mid-right{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.all-matches{
    border-radius: 5px;
    width: 200px;
    margin-left: 20px;
    border: 1px solid #E8E8E8;
}
.match-img img{
   width: 200px;
}
.blog-info{
    margin-left: 20px;
    margin-bottom: 20px;
}
.blog-info .transfer{
    margin-top: 15px;
    padding: 5px 20px;
}
.blog-info .blog-heading{
    font-size: 15px;
    margin-bottom: 20px;
}
 .blog-info .duration{
   color: gray;
   font-size: 12px;
   
}
.duration .comment{
    margin-left: 40px;
}
.view-all{
   visibility: hidden;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: red;
    padding: 10px 20px;
    text-align: center;
    width: 100px;
   
}
/* Footer section */
footer{
    margin-top: 30px;
    width: 100%;
   
    background-color: #161616;
    height: 200px;
   
}
footer h2{
   margin-left: 45%;
    color: white;
   padding: 20px;
}
.footer-nav{
    margin-left: 15%;
    margin-top: 30px;
}
.footer-nav a{
    text-decoration: none;
    
    color: white;
    margin-left: 20px;
}
.social{
   margin-left: 45%;
}
.social p{
    margin-left: 2%;
    color: white;
}
.social a{
  
    font-size: 30px;
   
    color: #DD0000;
}

/* responsive for mobile */
@media  screen and (max-width:688px) {
    .header{
        height: 855px;
        width: 90%;
    }
    
    .right-header img {
        margin-top: 30px;
        width: 100%;
        height: 100%;
        margin-left: 30px;
    }
    .top-header{
        flex-direction: column;
      
    }
  
    .matches{
        flex-direction: column;
        width: 100%;
    }
    .matches-menu{
        width: 100%;
    }

    
    .mid-right{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }
    .all-matches{
        margin-left: 0;
        width: 100%;
    }
    .match-img img{
       width: 100%;
    }
    .conatiner{
        width: 90%;
    }
    footer{
        width: 100%;
        height: 250px;
    }
    .footer-nav{
        margin-left: 25px;
        
    }
    .footer-nav a{
       margin-left: 5px;

    }
}

/* Responsive for tabllate device */
@media screen and (min-width: 689px) and (max-width:992px) {
    .conatiner{
        width: 90%;

    }
   
    .right-header img{
       width: 200px;
    }
    .matches{
        flex-direction: column;
    }
    .matches-menu {
       display: flex;
       width: 100%;
       justify-content: center;
    }
    .mid-right{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        grid-column-gap: 30px;
    }
    #for-eight-colum{
        display: none;
    }
    .all-matches{
        margin-left: 0px;
        width: 100%;
    }
    .match-img img{
        width: 100%;
    }
    .matches .mid-right{
        margin-left: 0;
    }
     .view-all{
        visibility: visible;
        align-items: center;
        margin-left: 85%;
    }
    footer{
       width: 100%;
       height: 250px;
    }
    .footer-nav{
        margin-left: 25%;
        
    }
}